<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>JunYeop Travel Blog</title>

    <!-- 부트스트랩 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="/stylesheets/content.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <% include ./navbar %>
    <div class="w3-content" style="max-width : 1300px; margin-top : 70px">
      <header class="w3-container w3-center w3-padding-32">
        <h1>
          <b>
            <%= topics[0].title %>
          </b>
        </h1>
        <p class="w3-left">
          <span class="w3-tag">
            <%= topics[0].date %>
          </span>
        </p>


        <!-- 수정삭제 버튼 -->
        <p class="w3-large w3-right w3-margin my_hover" onclick="Delete()"><i class="fa fa-trash"></i>DELETE</p>

        <p class="w3-large w3-right w3-margin" onclick="Modify()"><i class="fa fa-refresh"></i> MODIFY</p>


      </header>

      <div class="w3-row">
        <div class="w3-col 18 s8">
          <div class="w3-card-4 w3-margin w3-white">
            <img src="/<%= topics[0].filepath %>" style="width:100%">
          </div>
          <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container w3-padding-8">
              <p>
                <%= topics[0].description %>
              </p>
            </div>
          </div>
        </div>

        <div class="w3-col 14 s4">
          <div class="w3-card-4 w3-margin">
            <div class="w3-green w3-center">가계부</div>
            <table class="w3-table w3-striped w3-border">
              <% if(household.length > 0){ %>
              <tr>
                <th>name</th>
                <th>value</th>
                <th>kind</th>
              </tr>


                <!-- 값에대한 for문을 넣는다. -->
              <% for(var i=0 ; i<household.length; i++){ %>
                <tr>
                  <th> <%= household[i].cash_name %> </th>
                  <th> <%= household[i].cash_value %> </th>
                  <th> <%= household[i].cash_kind %> </th>
                </tr>
              <% } %>
              <% } else{ %>
                <div class="w3-panel">
                  <h5 class="w3-center"><b>가계부를 등록하세요.</b></h5>
                </div>
              <% } %>

            </table>
          </div>
        </div>
      </div>
    </div>



    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    function Delete() {
      var txt;
      var r = confirm("이 글을 정말 삭제하시겠습니까?");
      if(r==true){
        txt = "삭제되었습니다. main page로 이동합니다.!";
        location.href="/content/delete/<%= id %>";
        alert(txt);
      }
    };

    function Modify(){
      location.href="/content/modify/<%= id %>";
    };
    </script>
  </body>
</html>
